# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [4]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [5]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [6]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster(["127.0.0.1"])

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [8]:
# TO-DO: Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS song_events
    WITH REPLICATION = {'class': 'SimpleStrategy', 'replication_factor': 1}""")
except Exception as e:
    print(e)

#### Set Keyspace

In [9]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace("song_events")
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [73]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

query1 = """SELECT artist_name, song, length FROM song_played_by_session WHERE session_id=338 AND item_in_session=4"""

In [74]:
pd.read_csv(os.getcwd() + "/event_datafile_new.csv")

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88
2,Building 429,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Majesty (LP Version),88
3,The B-52's,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Love Shack,38
4,Die Mooskirchner,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Frisch und g'sund,38
5,Carrie Underwood,Gianna,F,2,Jones,195.70893,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Look At Me,38
6,No Te Va Gustar,Kaylee,F,0,Summers,246.43873,free,"Phoenix-Mesa-Scottsdale, AZ",833,Ya EntendÃÂ­,8
7,The Velvet Underground / Nico,Kaylee,F,1,Summers,360.09751,free,"Phoenix-Mesa-Scottsdale, AZ",833,All Tomorrow's Parties,8
8,Snoop Dogg / Jamie Foxx,Kaylee,F,2,Summers,179.35628,free,"Phoenix-Mesa-Scottsdale, AZ",833,Psst!,8
9,Dixie Chicks,Kaylee,F,3,Summers,201.01179,free,"Phoenix-Mesa-Scottsdale, AZ",833,There's Your Trouble,8
10,Linkin Park,Kaylee,F,5,Summers,189.28281,free,"Phoenix-Mesa-Scottsdale, AZ",833,Given Up (Album Version),8
11,Alice In Chains,Kevin,M,0,Arellano,239.35955,free,"Harrisburg-Carlisle, PA",934,Take Her Out,66
12,Florence + The Machine,Anabelle,F,1,Simpson,176.69179,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",926,My Boy Builds Coffins,69
13,Spoon,Theodore,M,0,Smith,299.20608,free,"Houston-The Woodlands-Sugar Land, TX",968,The Mystery Zone,52
14,Alice In Chains,Aiden,M,1,Hess,223.26812,free,"La Crosse-Onalaska, WI-MN",917,Would?,86
15,Natalie Walker,Aiden,M,2,Hess,191.84281,free,"La Crosse-Onalaska, WI-MN",917,Colorblind,86
16,Traveling Wilburys,Ava,F,0,Robinson,207.59465,free,"New Haven-Milford, CT",940,End Of The Line,50
17,Cherokee,Chloe,F,0,Cuevas,414.66730,paid,"San Francisco-Oakland-Hayward, CA",960,Relax,49
18,NOFX,Chloe,F,1,Cuevas,1099.78077,paid,"San Francisco-Oakland-Hayward, CA",960,The Decline,49
19,Cameo,Chloe,F,2,Cuevas,211.98322,paid,"San Francisco-Oakland-Hayward, CA",960,Word Up!,49
20,Natalia Lafourcade,Layla,F,0,Griffin,264.25424,paid,"Lake Havasu City-Kingman, AZ",879,Look Outside,24
21,J Dilla,Layla,F,1,Griffin,232.46322,paid,"Lake Havasu City-Kingman, AZ",879,Won't Do,24
22,Sergio Mendes,Layla,F,2,Griffin,254.85016,paid,"Lake Havasu City-Kingman, AZ",879,Never Gonna Let You Go,24
23,Jarabe De Palo,Layla,F,3,Griffin,205.08689,paid,"Lake Havasu City-Kingman, AZ",879,En Lo Puro No Hay Futuro,24
24,Carrie Underwood,Layla,F,4,Griffin,257.88036,paid,"Lake Havasu City-Kingman, AZ",879,I Told You So,24
25,Enigma,Elijah,M,0,Davis,258.71628,free,"Detroit-Warren-Dearborn, MI",138,Je T'aime Till My Dying Day,5
26,Kelly Clarkson,Layla,F,5,Griffin,221.09995,paid,"Lake Havasu City-Kingman, AZ",879,The Trouble With Love Is,24
27,Timbaland & Magoo,Layla,F,6,Griffin,279.79710,paid,"Lake Havasu City-Kingman, AZ",879,Put 'Em On,24
28,The Wombats,Elijah,M,1,Davis,69.95546,free,"Detroit-Warren-Dearborn, MI",138,Tales of Girls_ Boys and Marsupials (album ver...,5
29,Andrew Bird,Elijah,M,2,Davis,316.47302,free,"Detroit-Warren-Dearborn, MI",138,Skin Is_ My,5
...,...,...,...,...,...,...,...,...,...,...,...
6790,Coldplay,Colm,M,7,Santana,284.39465,free,"Nashville-Davidson--Murfreesboro--Franklin, TN",414,A Message,67
6791,Cute Is What We Aim For,Colm,M,8,Santana,172.22485,free,"Nashville-Davidson--Murfreesboro--Franklin, TN",414,Sweat the Battle Before the Battle Sweats You ...,67
6792,Metallica,Connar,M,0,Moreno,256.99220,free,"Houston-The Woodlands-Sugar Land, TX",218,Of Wolf And Man,62
6793,The Kills,Connar,M,1,Moreno,217.70404,free,"Houston-The Woodlands-Sugar Land, TX",218,Tape Song,62
6794,Foo Fighters,Connar,M,2,Moreno,271.38567,free,"Houston-The Woodlands-Sugar Land, TX",218,The Pretender,62
6795,Plaid,Connar,M,3,Moreno,260.96281,free,"Houston-The Woodlands-Sugar Land, TX",218,Eyen [Chosen by fans on Warp20.net],62
6796,The Van Pelt,Theodore,M,1,Harris,208.71791,free,"Red Bluff, CA",462,It's New To Me,14
6797,44,Ryan,M,1,Smith,224.57424,free,"San Jose-Sunnyvale-Santa Clara, CA",472,Make You Smile,26
6798,Chris Brown,Rylan,M,1,George,275.14730,free,"Birmingham-Hoover, AL",446,I May Never Find,16
6799,KT Tunstall,Ryan,M,2,Smith,170.47465,free,"San Jose-Sunnyvale-Santa Clara, CA",472,Black Horse And The Cherry Tree (Radio Version),26
6800,Cascada,Rylan,M,2,George,184.39791,free,"Birmingham-Hoover, AL",446,Kids In America,16
6801,Incubus,Ryan,M,3,Smith,293.38077,free,"San Jose-Sunnyvale-Santa Clara, CA",472,Black Heart Inertia,26
6802,Miike Snow,Tegan,F,1,Levine,220.83873,paid,"Portland-South Portland, ME",435,Black & Blue,80
6803,Cartola,Tegan,F,2,Levine,208.92689,paid,"Portland-South Portland, ME",435,Sala De RecepÃÂ§ÃÂ£o,80
6804,Kill The Client,Tegan,F,3,Levine,70.68689,paid,"Portland-South Portland, ME",435,Commander In Thief,80
6805,Wolfmother,Tegan,F,5,Levine,175.82975,paid,"Portland-South Portland, ME",435,Woman,80
6806,Old Crow Medicine Show,Tegan,F,6,Levine,231.73179,paid,"Portland-South Portland, ME",435,Wagon Wheel,80
6807,Architecture In Helsinki,Tegan,F,7,Levine,173.73995,paid,"Portland-South Portland, ME",435,Debbie,80
6808,Charlie Louvin,Tegan,F,8,Levine,170.86649,paid,"Portland-South Portland, ME",435,I Think I'll Live,80
6809,Miguel Morales,Tegan,F,9,Levine,270.78485,paid,"Portland-South Portland, ME",435,La Derrota de Un Don Juan,80
6810,Dominique A,Tegan,F,10,Levine,153.20771,paid,"Portland-South Portland, ME",435,Le Courage Des Oiseaux,80
6811,Cock Sparrer,Tegan,F,11,Levine,203.25832,paid,"Portland-South Portland, ME",435,Run With The Blind,80
6812,Jimmy Wakely,Tegan,F,12,Levine,165.74649,paid,"Portland-South Portland, ME",435,I Love You So Much It Hurts,80
6813,Peter Doherty,Tegan,F,13,Levine,217.02485,paid,"Portland-South Portland, ME",435,A Little Death Around the Eyes,80
6814,Katy Perry,Tegan,F,14,Levine,246.41261,paid,"Portland-South Portland, ME",435,Thinking Of You,80
6815,Sidewalk Prophets,Molly,F,0,Taylor,260.62322,free,"St. Louis, MO-IL",464,You Love Me Anyway (Album),35
6816,Rise Against,Molly,F,1,Taylor,221.17832,free,"St. Louis, MO-IL",464,Torches,35
6817,K'Naan,Molly,F,2,Taylor,220.49914,free,"St. Louis, MO-IL",464,Wavin' Flag,35
6818,Patrick Jumpen,Ryan,M,0,Smith,208.87465,free,"San Jose-Sunnyvale-Santa Clara, CA",480,Holiday,26
6819,Alicia Keys,Ryan,M,1,Smith,216.47628,free,"San Jose-Sunnyvale-Santa Clara, CA",480,Empire State Of Mind (Part II) Broken Down,26

In [75]:
# Create Table
create_table_statement = "CREATE TABLE IF NOT EXISTS song_played_by_session "
create_table_statement += "(artist_name text, first_name text, gender text, item_in_session int, last_name text, length double, level text, location text, session_id int, song text, user_id int, PRIMARY KEY(session_id, item_in_session))"
session.execute(create_table_statement)

# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO song_played_by_session (artist_name, first_name, gender, item_in_session, last_name, length, level, location, session_id, song, user_id)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[1], line[2], int(line[3]), line[4], float(line[5]), line[6], line[7], int(line[8]), line[9], int(line[10])))

#### Do a SELECT to verify that the data have been inserted into each table

In [76]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows = session.execute(query1)
for row in rows:
    print(row.artist_name, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.3073

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [77]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

query2= "SELECT artist_name, song, first_name, last_name FROM song_played_by_user WHERE user_id=10 and session_id=182"

In [78]:
# Create Table
create_table_statement = "CREATE TABLE IF NOT EXISTS song_played_by_user "
create_table_statement += "(artist_name text, first_name text, gender text, item_in_session int, last_name text, length double, level text, location text, session_id int, song text, user_id int, PRIMARY KEY(user_id, session_id, item_in_session))"
session.execute(create_table_statement)

# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO song_played_by_user (artist_name, first_name, gender, item_in_session, last_name, length, level, location, session_id, song, user_id)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[1], line[2], int(line[3]), line[4], float(line[5]), line[6], line[7], int(line[8]), line[9], int(line[10])))

In [79]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows = session.execute(query2)
for row in rows:
    print(row.artist_name, row.song, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

In [80]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

query3 = "SELECT first_name, last_name FROM users_who_listened_a_song WHERE song = 'All Hands Against His Own'"

In [81]:
# Create Table
create_table_statement = "CREATE TABLE IF NOT EXISTS users_who_listened_a_song "
create_table_statement += "(artist_name text, first_name text, gender text, item_in_session int, last_name text, length double, level text, location text, session_id int, song text, user_id int, PRIMARY KEY(song))"
session.execute(create_table_statement)

# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO users_who_listened_a_song (artist_name, first_name, gender, item_in_session, last_name, length, level, location, session_id, song, user_id)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[1], line[2], int(line[3]), line[4], float(line[5]), line[6], line[7], int(line[8]), line[9], int(line[10])))

In [82]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
rows = session.execute(query3)
for row in rows:
    print(row.first_name, row.last_name)

Jacqueline Lynch

### Drop the tables before closing out the sessions

In [83]:
## TO-DO: Drop the table before closing out the sessions

In [84]:
for table in ["song_played_by_session", "song_played_by_user", "users_who_listened_a_song"]:
    session.execute(f"DROP TABLE {table}")

### Close the session and cluster connection¶

In [85]:
session.shutdown()
cluster.shutdown()